@media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
    .nav-link {
      font-size: 16px;
    }
  }

  .navbar-toggler-icon {
    font-size: 1.5rem;
  }
  

  body {
    background-image: url('/Images/mesa-madera-entorno-mercado-borroso_1207264-3739.jpg');
    background-size: cover; /* cubrir todo el área con imagen */
    background-position: center;     /* centra la imagen */
    background-repeat: no-repeat;   /* evita que la imagen se repita */
    height: 100vh;
  }

  /*ajustes card-title*/
.p1 {       
    color: rgb(0, 0, 0);  
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    
}

.bodytext {
    width: 50;
    color: rgb(255, 255, 255);   /*color del texto*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    
}

.card-body { 
    background-color: transparent;
    width: 300px;   /*ancho del texto*/
    padding: 20px;

}

.card {
    width: 25rem;
    background-color: transparent;
    border-color: none;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 20rem;
    height: 50rem;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}
.navbar-nav{
    font-size: 20px;

}