.p1 {
    color: rgb(187, 215, 184);  /*ajustes card-title*/
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    
}

p {
    color: black;   /*color del texto*/
    
}

.card-body { 
    width: 350px;   /*ancho del texto*/

}

.card {

    justify-content: center;
    text-align: center;
    background-color: transparent;
}
.navbar-nav{
    font-size: 20px;

}